<div class="row my-5">
    <div class="col">
        <h1 class="text-center">지역검색</h1>
        <!--검색폼-->
        <div class="row justify-content-end">
            <form class="col-6 col-lg-3 col-md-4" name="frm">
                <div class="input-group">
                    <input class="form-control" placeholder="검색어" name="query" >
                    <button class="btn btn-primary">검색</button>
                </div>
            </form>
    
        </div>
        <div id="div_locals"></div>
         <!--페이지 이동 버튼-->
         <div class="text-center mt-3" id="div_page" >
            <button class="btn btn-primary" id="prev">이전</button>
            <span class="mx-3" id="span_page">1/10</span>
            <button class="btn btn-primary" id="next">다음</button>
            
        </div>
        <!--지도출력-->
        <div id="map" style="width:100%;height:400px;" class="my-5"></div>
    </div>
</div>
<!--템플릿 / id는 컴파일용도-->
<script type="x-handlebars-template" id="temp_locals">
    <table class="table table-striped" id="temp_locals">
        {{#each documents}}
        <tr>
            <td>{{place_name}}</td>
            <td>{{address_name}}</td>
            <td>{{phone}}</td>
            <td><button class="btn btn-primary location" x="{{x}}" y="{{y}}">위치보기</button></td>
        </tr>
        {{/each}}
    </table>
</script>

<script>
    let query=$(frm.query).val();
    let page=1;
    let size=5;
    getLocals();
    //위치보기 버튼을 클릭했을때
    $("#div_locals").on("click", "button", function(){
        let x=$(this).attr("x");
        let y=$(this).attr("y");
        var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(y, x),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
        var markerPosition  = new kakao.maps.LatLng(y, x);  // 마커가 표시될 위치입니다 
        var marker = new kakao.maps.Marker({  // 마커를 생성합니다
            position: markerPosition
        });
        marker.setMap(map);  // 마커가 지도 위에 표시되도록 설정합니다

    });

    $("#prev").on("click", function() {
        page--;
        getLocals();
        
    })

    $("#next").on("click", function() {
        page++;
        getLocals();
    
    })

    $(frm).on("submit", function(e){
        e.preventDefault();
        query=$(frm.query).val();
        if(query=="") {
            alert("검색 내용을 입력하세요!");
            $(frm.query).focus();
        }else{
            page=1;
            getLocals();
        }
    });
    function getLocals() {
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v2/local/search/keyword.json",
            headers:{Authorization:"KakaoAK 497aa64b962158ac81078252988a38a7"},
            data:{query:query, page:page, size:size},
            success:function(data) {
                console.log(data);
                let temp = Handlebars.compile($("#temp_locals").html());
                let html = temp(data);
                $("#div_locals").html(html);

                let last = Math.cel(data.meta.pageable_count/size);
                $("#span_page").html(page + "/" + last);
                if(page==1) $("#prev").attr("disabled", true)
                else $("#prev").attr("disabled", false)

                if(data.meta.is_end) $("#next").attr("disabled", true)
                else $("#next").attr("disabled", false)
            }
        })
    }
</script>